.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.myNavbar {
  overflow: hidden;
  background-color: #333; 
  margin-bottom: 50px;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.subnav:hover .subnavbtn {
  background-color: grey;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: grey;
  width: 100%;
  z-index: 1;
}

.subnav-content button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 14px 16px;
  font-size: 16px;
}

.myNavbar button:hover {
  background-color: #eee;
  color: black;
  cursor: pointer;
}

.subnav:hover .subnav-content {
  display: block;
}

.settings-parent{
  padding: 25px;
}

.tableContainer{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.tableContainer > * {
  grid-column: 2;
}
/* .settings{
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin-bottom: 25px;
}

.tableContent {
  table-layout: fixed;
}
.tableContent2 > thead > tr > *,
.tableContent2 > tbody > tr > * {
  width: 25%;
}  */

/* i {
  cursor: pointer;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
